.PokemonCard {
  background-color: #ffcb05;
  border-radius: 8px;
  border: 5px solid #020101;
  box-sizing: border-box;
  color: #003a70;
  width: 40%;
  display: inline-block;
  height: auto;
  overflow: hidden;
  margin: 10px;
}

.PokemonCard img {
  align-self: start;
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
}

.PokemonCard-front {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.PokemonCard-back {
  text-align: left;
}

.PokemonCard-name {
  margin: 0;
  font-weight: bold;
  font-style: italic;
}

.PokemonCard-stats {
  list-style-type: none;
  font-size: 0.8em;
  padding: 0;
  text-align: right;
  margin: 0;
}